@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  /* color: #575757; */
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100dvh;
}

a {
  text-decoration: underline;
}

@media print {
  html {
    font-size: 10px;
  }
}
