@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;

  /* color: #575757; */
}

html,
body {
  margin: 0;
  padding: 0;

  width: 100vw;
  height: 100dvh;
}

li {
  list-style: none;
}

@media print {
  html {
    font-size: 10px;
  }
}

.box-border {
  border: 2px solid #2d2d2d;
}

.prevent-select {
  user-select: none;
  -webkit-user-select: none;
}
